page-levels {
	.header-details {
		padding-bottom: 10px;
		
		.user-details {
			.value {
				margin-bottom: 0;
			}

			.months {
				border-right: 1px solid #fff;
				padding-right: 20px;
				margin-right: 20px;
			}
		}

		.profile-picture {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	.levels-list {
		.level-item {
			padding: 15px 20px;
			font-size: 1.143em;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			&:not( :last-child ) {
				border-bottom: 1px solid #e5e5e5;
			}

			&.locked {
				color: #e5e5e5;
			}

			.count {
				width: 90px;
			}

			.details {
				font-weight: 700;
			}
		}
	}
}
