<ion-header class="toolbar-red" no-border>
  <ion-navbar>
		<ion-buttons left>

			<button ion-button ion-only (click)="gotoPage('ProfilePage')" class="text-color-white">
				<i class="icon-yipp_profile_line icon-3x"></i>
			</button>
		</ion-buttons>
		<ion-title>Trainingen</ion-title>
		<ion-buttons right>
			<button ion-button ion-only (click)="gotoPage('SettingsPage')" class="text-color-white">
				<i class="icon-gear_line icon-3x"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
    <div class="bg-red header-details pr-xs-15 pl-xs-15">
      <div class="row between-xs middle-xs">
        <div class="user-details col-xs-auto">
          <h3 class="mb-xs-5"><strong>Lisa Jansen</strong></h3>
          <div class="row">
            <div class="months text-xs-center">
              <h2 class="value"><strong>8</strong></h2>
              <div class="label">Maanden</div>
            </div> <!-- end of .months -->
            <div class="level row between-xs middle-xs text-xs-center">
              <div class="mr-xs-10">
                <h2 class="value"><strong>1</strong></h2>
                <div class="label">Level</div>
              </div>
              <div>
                <a (click)="gotoPage('TimelinePage', 'root')" class="text-color-white"><i class="icon-yipp_up icon-lg"></i></a>
              </div>
            </div>
          </div>
        </div> <!-- end of .user-details -->
        <div class="profile-picture" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
      </div>
    </div>
  </ion-header>

<ion-content no-bounce>
	<div class="levels-list">
		<div class="level-item">
			<div class="count">Level 1</div>
			<div class="details col-xs-auto">7 - 12 months</div>
			<div class="level-icon"><i class="icon-yipp_forward icon-lg"></i></div>
		</div>
		<div class="level-item locked">
			<div class="count">Level 2</div>
			<div class="details col-xs-auto">7 - 12 months</div>
			<div class="level-icon"><i class="icon-yipp_locked_line icon-lg"></i></div>
		</div>
		<div class="level-item locked">
			<div class="count">Level 3</div>
			<div class="details col-xs-auto">8 - 18 months</div>
			<div class="level-icon"><i class="icon-yipp_locked_line icon-lg"></i></div>
		</div>
		<div class="level-item locked">
			<div class="count">Level 4</div>
			<div class="details col-xs-auto">19 - 25 months</div>
			<div class="level-icon"><i class="icon-yipp_locked_line icon-lg"></i></div>
		</div>
	</div>
</ion-content>
<ion-footer no-border>
	<div class="row middle-xs around-xs p-xs-5 pt-xs-10">
		<a href="#!" class="text-color-primary"><i class="icon-yipp_home_line icon-2x"></i><br/>Training</a>
		<a href="#!"><i class="icon-yipp_challenge_line icon-2x"></i><br/>Challenge</a>
	</div>
</ion-footer>
