<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>Log in</ion-title>
		<ion-buttons end>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<form class="row between-xs direction-column-xs p-xs-30 full-height" [formGroup]="loginForm">
		<div></div>
		<div class="col-xs-12">
			<ion-item>

				<ion-label floating>{{'EMAIL_TEXT' | translate}}</ion-label>
				<ion-input [(ngModel)]="email" type="email" formControlName="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{'PASSWORD_TEXT' | translate}}</ion-label>
				<ion-input [(ngModel)]="password" type="password" formControlName="password"></ion-input>
			</ion-item>
		</div>
		<div class="col-xs-12 text-xs-center mt-xs-50">
			<button class="btn btn-primary mb-xs-15" (click)="signin( 'TimelinePage', 'root' )" type="submit" [disabled]="!loginForm.valid">{{'LOGIN_TEXT' | translate}}</button>
			<p><a (click)="gotoPage('ResetPasswordPage')">{{'FORGOT_PASSWORD_TEXT' | translate}}</a></p>
			<p><a (click)="gotoPage('PreloginPage', 'root')">{{'LOGIN_PAGE_TEXT_1' | translate}}</a></p>
		</div>
	</form>
</ion-content>