<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>{{'RESET_PASSWORD_TEXT' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="row direction-column-xs between-xs full-height p-xs-20">
		<div></div>
		<form>
			<p class="text-xs-center">{{'RESET_PASSWORD_PAGE_TEXT_1' | translate}}</p>
			<ion-item>
				<ion-label floating>{{'EMAIL_TEXT' | translate}}</ion-label>
				<ion-input></ion-input>
			</ion-item>
		</form>
		<div class="row center-xs btn-panel mt-xs-50">
			<button class="btn btn-primary" (click)="gotoPage('NewPasswordPage', 'root')">{{'RESET_TEXT' | translate}}</button>
		</div>
	</div>
</ion-content>