<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<!-- <ion-title>Lesson</ion-title> -->
	</ion-navbar>
</ion-header>
<ion-content class="bg-red" no-bounce>
	<div class="full-height row direction-column-xs between-xs middle-xs p-xs-30 pt-xs-50">
		<div></div>
		<div class="bg-white col-xs-12 text-xs-center pb-xs-20 pr-xs-20 pl-xs-20">
			<div class="row center-xs mb-xs-20" style="margin-top: -30px;">
				<div class="icon icon-primary-darken">
					<i class="icon-yipp_water_line"></i>
				</div>
			</div>
			<h3 class="mb-xs-30"><strong>Lesson 2: Screentime</strong></h3>
			<p>In this lesson you will learn you about the important of</p>
			<ion-item>
				<ion-input></ion-input>
			</ion-item>
			<div class="date-time mt-xs-15 row center-xs middle-xs">
				<i class="icon-gear_line"></i>
				<span>5 min</span>
			</div>
		</div>
		<div class="mt-xs-50">
			<button class="btn btn-secondary" (click)="gotoPage('QuestionPage')">Start</button>
		</div>
	</div>
</ion-content>