page-tour-finish {
  h1 {
    font-size: 4.000em;

    @media screen and ( max-width: 375px ) {
        font-size: 3.000em;
    }
}

.tour-slider {
    ion-slide {
        font-size: 1em;

        .slide-zoom {
            height: 100%;

            .slider-content {
                .slider-details {
                    padding: 15px 20px;
                    min-height: 170px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    p {
                        font-size: 1em;
                    }

                    .slider-arrow {
                        width: 26px;
                    }
                }

                h2 {
                    font-size: 2.000em;
                }
            }
        }
    }

    .swiper-pagination {
        bottom: 175px;

        .swiper-pagination-bullet {
            background-color: #fff;
        }
    }
}
}
