<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 75%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-red p-xs-20 row direction-column-xs between-xs">
		<div>
			<h2 class="text-xs-center text-color-white mb-xs-30"><strong>Set up challenge</strong></h2>
			<div class="bg-white with-radius p-xs-20 mb-xs-10">
				<h3>Eating more vegetables</h3>
				<ol>
					<li>Brocolli</li>
					<li>Brocolli</li>
				</ol>
			</div>
			<h3 class="text-xs-center"><a href="#!" class="text-color-white">Add Reminder</a></h3>
		</div>
		<div class="btn-panel row center-xs mt-xs-50">
			<button class="btn btn-secondary">Next</button>
		</div>
	</div>
</ion-content>