<ion-content no-bounce>
	<div class="full-height row between-xs direction-column-xs p-xs-30">
		<div></div>
		<div class="text-xs-center">
			<h1 class="text-color-primary mb-xs-20">{{'PRE_LOGIN_TEXT_1' | translate}}</h1>
			<img src="assets/imgs/logos/samen-happie.png" />
		</div>
		<div class="text-xs-center">
			<button class="btn btn-primary btn-block mb-xs-15" (click)="gotoPage('RegistrationParentPage')">{{'SIGN_UP_TEXT' | translate}}</button>
			<a (click)="gotoPage('LoginPage')">{{'PRE_LOGIN_TEXT_2' | translate}}</a>
		</div>
	</div>
</ion-content>