<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<ion-buttons left>

			<button ion-button ion-only (click)="gotoPage('ProfilePage')" class="text-color-white">
				<i class="icon-yipp_profile_line icon-3x"></i>
			</button>
		</ion-buttons>
		<ion-title>Trainingen</ion-title>
		<ion-buttons right>
			<button ion-button ion-only (click)="gotoPage('SettingsPage')" class="text-color-white">
				<i class="icon-gear_line icon-3x"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
	<div class="bg-red header-details pr-xs-15 pl-xs-15">
		<div class="row between-xs middle-xs">
			<div class="user-details col-xs-auto">
				<h3 class="mb-xs-5"><strong>[Name Child]</strong></h3>
				<div class="row">
					<div class="months text-xs-center">
						<h2 class="value"><strong>8</strong></h2>
						<div class="label">Maanden</div>
					</div> <!-- end of .months -->
					<div class="level row between-xs middle-xs text-xs-center">
						<div class="mr-xs-10">
							<h2 class="value"><strong>1</strong></h2>
							<div class="label">Level</div>
						</div>
						<div>
							<a (click)="gotoPage('LevelsPage', 'root')" class="text-color-white"><i class="icon-yipp_down icon-lg"></i></a>
						</div>
					</div>
				</div>
			</div> <!-- end of .user-details -->
			<div class="profile-picture" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
		</div>
	</div>
</ion-header>
<ion-content no-bounce>
	<div class="timeline-list">
		<div class="timeline-item done" (click)="gotoPage('StartLessonPage')">
			<div class="timeline-icon">
				<i class="icon-yipp_heart_line"></i>
			</div>
			<div class="timeline-label col-xs-auto">Nutrition fruit &amp; vegetable</div>
			<div class="goto"><i class="icon-yipp_forward icon-lg"></i></div>
		</div> <!-- end of .timeline-item -->
		<div class="timeline-title">
			<div class="timeline-iconContainer">
				<div class="timeline-icon">
					<i class="icon-yipp_heart_line"></i>
				</div>
			</div>
			<div class="timeline-label col-xs-auto">If the plan</div>
		</div> <!-- end of .timeline-title -->
		<div class="timeline-item" (click)="showAlert()">
			<div class="timeline-icon">
				<i class="icon-yipp_heart_line"></i>
			</div>
			<div class="timeline-label col-xs-auto">Nutrition fruit &amp; vegetable</div>
			<div class="goto"><i class="icon-yipp_forward icon-lg"></i></div>
		</div> <!-- end of .timeline-item -->
	</div> <!-- end of .timeline-list -->
</ion-content>
<ion-footer no-border>
	<div class="row middle-xs around-xs p-xs-5 pt-xs-10">
		<a href="#!"><i class="icon-yipp_home_line icon-2x"></i><br/>Training</a>
		<a href="#!" class="text-color-primary"><i class="icon-yipp_challenge_line icon-2x"></i><br/>Challenge</a>
	</div>
</ion-footer>
