page-timeline {
	.header-details {
		padding-bottom: 10px;
		
		.user-details {
			.value {
				margin-bottom: 0;
			}

			.months {
				border-right: 1px solid #fff;
				padding-right: 20px;
				margin-right: 20px;
			}
		}

		.profile-picture {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	.timeline-list {
		counter-reset: timeline;

		.timeline-item {
			padding: 10px 20px;
			counter-increment: timeline;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&.done {
				.timeline-icon {
					background-color: $primary;
					color: #fff;
					border-color: $primary;
				}
			}

			&:not( :last-child ) {
				.timeline-icon {
					&:after {
						content: '';
						width: 1px;
						height: 29px;
						background: #cbcbcb;
						display: block;
						position: absolute;
						z-index: 1;
						bottom: -30px;
						left: 0;
						right: 0;
						margin: 0 auto;
					}
				}
			}

			.timeline-icon {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #fff;
				border: 1px solid #505050;
				color: #505050;
				position: relative;
				z-index: 2;
				font-size: 1.571em;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				padding-top: 3px;
			}

			.timeline-label {
				padding: 0 10px 0 35px;
				position: relative;
				font-size: 1.143em;

				&:before {
					content: counter( timeline, decimal-leading-zero ) '. ';
					position: absolute;
					top: 0;
					left: 10px;
				}
			}

			.goto {
				color: #4f4f4f;
			}
		}

		.timeline-title {
			padding: 10px 20px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&:not( :last-child ) {
				.timeline-icon {
					&:after {
						content: '';
						width: 1px;
						height: 29px;
						background: #cbcbcb;
						display: block;
						position: absolute;
						bottom: -30px;
						left: 0;
						right: 0;
						margin: 0 auto;
						z-index: 1;
					}
				}
			}

			.timeline-iconContainer {
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;

				.timeline-icon {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border: 1px solid $primary;
					color: $primary;
					background-color: #fff;
					position: relative;
					z-index: 2;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					padding-top: 3px;
				}
			}

			.timeline-label {
				padding: 0 10px;
				font-size: 1.143em;
			}
		}
	}
}
