<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 90%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-red p-xs-20 row direction-column-xs between-xs">
		<h2 class="text-xs-center"><strong>Result</strong></h2>
		<div class="bg-white with-radius p-xs-15 pr-xs-20 pl-xs-20">
			<div class="date-time row middle-xs text-color-primary mb-xs-10">
				<div class="time">
					<i class="icon-yipp_notification_line"></i>
					<span>14:00</span>
				</div>
				<div class="separator ml-xs-10 mr-xs-5">|</div>
				<div class="date">
					<i class="icon-yipp_repeat_line"></i>
					<span>Everyday</span>
				</div>
			</div> <!-- end of .date-time -->
			<div class="row middle-xs between-xs">
				<div>
					<h3 class="mb-xs-0">Eating more vegetables</h3>
					<ol>
						<li>Brocolli</li>
						<li>Brocolli</li>
						<li>Brocolli</li>
						<li>Brocolli</li>
						<li>Brocolli</li>
					</ol>
				</div>
				<div class="edit">
					<a href="#!"><i class="icon-yipp_edit icon-3x"></i></a>
				</div>
			</div>
		</div>
		<div class="btn-panel mt-xs-50 row center-xs">
			<button class="btn btn-secondary">Next</button>
		</div>
	</div>
</ion-content>