@font-face {
  font-family: 'yipp';
  src: url('../font/yipp.eot?58193956');
  src: url('../font/yipp.eot?58193956#iefix') format('embedded-opentype'),
       url('../font/yipp.woff2?58193956') format('woff2'),
       url('../font/yipp.woff?58193956') format('woff'),
       url('../font/yipp.ttf?58193956') format('truetype'),
       url('../font/yipp.svg?58193956#yipp') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'yipp';
    src: url('../font/yipp.svg?58193956#yipp') format('svg');
  }
}
*/
 
 [class^="icon-"]:not(ion-icon):before, [class*=" icon-"]:not(ion-icon):before {
  font-family: "yipp";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-yipp_apple_badge:before { content: '\e800'; } /* '' */
.icon-yipp_check_line:before { content: '\e801'; } /* '' */
.icon-yipp_apple_line:before { content: '\e802'; } /* '' */
.icon-yipp_camera_line:before { content: '\e803'; } /* '' */
.icon-yipp_challenge_line:before { content: '\e804'; } /* '' */
.icon-yipp_check_full:before { content: '\e805'; } /* '' */
.icon-yipp_mobile_full:before { content: '\e806'; } /* '' */
.icon-yipp_emoticon_happy:before { content: '\e807'; } /* '' */
.icon-yipp_emoticon_neutral:before { content: '\e808'; } /* '' */
.icon-yipp_emoticon_sad:before { content: '\e809'; } /* '' */
.icon-yipp_home_full-:before { content: '\e80a'; } /* '' */
.icon-yipp_sleep_line:before { content: '\e80b'; } /* '' */
.icon-yipp_mobile_badge:before { content: '\e80c'; } /* '' */
.icon-yipp_mobile_line-:before { content: '\e80d'; } /* '' */
.icon-yipp_notification_line:before { content: '\e80e'; } /* '' */
.icon-yipp_notification_line2:before { content: '\e80f'; } /* '' */
.icon-yipp_pencil_line:before { content: '\e810'; } /* '' */
.icon-yipp_profile_line:before { content: '\e811'; } /* '' */
.icon-yipp_sleep_badge:before { content: '\e812'; } /* '' */
.icon-yipp_sleep_full:before { content: '\e813'; } /* '' */
.icon-yipp_water_badge:before { content: '\e815'; } /* '' */
.icon-yipp_water_full:before { content: '\e816'; } /* '' */
.icon-yipp_water_line:before { content: '\e817'; } /* '' */
.icon-yipp_add_line:before { content: '\e818'; } /* '' */
.icon-yipp_edit:before { content: '\e819'; } /* '' */
.icon-yipp_delete_line:before { content: '\e81a'; } /* '' */
.icon-yipp_close:before { content: '\e81b'; } /* '' */
.icon-gear_line:before { content: '\e81c'; } /* '' */
.icon-yipp_goal_line:before { content: '\e81d'; } /* '' */
.icon-yipp_heart_full:before { content: '\e81e'; } /* '' */
.icon-yipp_heart_line:before { content: '\e81f'; } /* '' */
.icon-yipp_home_line:before { content: '\e820'; } /* '' */
.icon-yipp_locked_line:before { content: '\e821'; } /* '' */
.icon-yipp_repeat_line:before { content: '\e822'; } /* '' */
.icon-yipp_summary_line:before { content: '\e823'; } /* '' */
.icon-yipp_supermom_full:before { content: '\e824'; } /* '' */
.icon-yipp_logo_heart:before { content: '\e826'; } /* '' */
.icon-yipp_back:before { content: '\e827'; } /* '' */
.icon-yipp_down:before { content: '\e828'; } /* '' */
.icon-yipp_forward:before { content: '\e829'; } /* '' */
.icon-yipp_up:before { content: '\e82a'; } /* '' */
.icon-yipp_apple_full:before { content: '\e82c'; } /* '' */
.icon-yipp_done-full:before { content: '\e83b'; } /* '' */
.icon-yipp_done-line:before { content: '\e83c'; } /* '' */