
.icon-yipp_apple_badge:before { content: '\e800'; } /* '' */
.icon-yipp_check_line:before { content: '\e801'; } /* '' */
.icon-yipp_apple_line:before { content: '\e802'; } /* '' */
.icon-yipp_camera_line:before { content: '\e803'; } /* '' */
.icon-yipp_challenge_line:before { content: '\e804'; } /* '' */
.icon-yipp_check_full:before { content: '\e805'; } /* '' */
.icon-yipp_mobile_full:before { content: '\e806'; } /* '' */
.icon-yipp_emoticon_happy:before { content: '\e807'; } /* '' */
.icon-yipp_emoticon_neutral:before { content: '\e808'; } /* '' */
.icon-yipp_emoticon_sad:before { content: '\e809'; } /* '' */
.icon-yipp_home_full-:before { content: '\e80a'; } /* '' */
.icon-yipp_sleep_line:before { content: '\e80b'; } /* '' */
.icon-yipp_mobile_badge:before { content: '\e80c'; } /* '' */
.icon-yipp_mobile_line-:before { content: '\e80d'; } /* '' */
.icon-yipp_notification_line:before { content: '\e80e'; } /* '' */
.icon-yipp_notification_line2:before { content: '\e80f'; } /* '' */
.icon-yipp_pencil_line:before { content: '\e810'; } /* '' */
.icon-yipp_profile_line:before { content: '\e811'; } /* '' */
.icon-yipp_sleep_badge:before { content: '\e812'; } /* '' */
.icon-yipp_sleep_full:before { content: '\e813'; } /* '' */
.icon-yipp_water_badge:before { content: '\e815'; } /* '' */
.icon-yipp_water_full:before { content: '\e816'; } /* '' */
.icon-yipp_water_line:before { content: '\e817'; } /* '' */
.icon-yipp_add_line:before { content: '\e818'; } /* '' */
.icon-yipp_edit:before { content: '\e819'; } /* '' */
.icon-yipp_delete_line:before { content: '\e81a'; } /* '' */
.icon-yipp_close:before { content: '\e81b'; } /* '' */
.icon-gear_line:before { content: '\e81c'; } /* '' */
.icon-yipp_goal_line:before { content: '\e81d'; } /* '' */
.icon-yipp_heart_full:before { content: '\e81e'; } /* '' */
.icon-yipp_heart_line:before { content: '\e81f'; } /* '' */
.icon-yipp_home_line:before { content: '\e820'; } /* '' */
.icon-yipp_locked_line:before { content: '\e821'; } /* '' */
.icon-yipp_repeat_line:before { content: '\e822'; } /* '' */
.icon-yipp_summary_line:before { content: '\e823'; } /* '' */
.icon-yipp_supermom_full:before { content: '\e824'; } /* '' */
.icon-yipp_logo_heart:before { content: '\e826'; } /* '' */
.icon-yipp_back:before { content: '\e827'; } /* '' */
.icon-yipp_down:before { content: '\e828'; } /* '' */
.icon-yipp_forward:before { content: '\e829'; } /* '' */
.icon-yipp_up:before { content: '\e82a'; } /* '' */
.icon-yipp_apple_full:before { content: '\e82c'; } /* '' */
.icon-yipp_done-full:before { content: '\e83b'; } /* '' */
.icon-yipp_done-line:before { content: '\e83c'; } /* '' */