<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>Challenge details</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="bg-red p-xs-15 pr-xs-20 pl-xs-20">
		<div class="bg-white with-radius p-xs-15 pr-xs-20 pl-xs-20">
			<div class="date-time row middle-xs mb-xs-10">
				<div class="time text-color-primary row middle-xs">
					<div><i class="icon-yipp_notification_line"></i></div>
					<div class="value">14:00</div>
				</div>
				<div class="separator mr-xs-5 ml-xs-5">|</div>
				<div class="date text-color-primary row middle-xs">
					<div><i class="icon-yipp_repeat_line"></i></div>
					<div class="value">Everyday</div>
				</div>
			</div> <!-- end of .date-time -->
			<div class="challenges row middle-xs between-xs">
				<div>
					<h3 class="title">Eating more vegetables</h3>
					<ul class="number-list">
						<li><h3>Brocolli</h3></li>
					</ul>
				</div>
				<a href="#!"><i class="icon-yipp_edit icon-3x"></i></a>
			</div>
		</div>
	</div>
	<div class="edit-challenges p-xs-20">
		<div class="edit-navigation mb-xs-20 row middle-xs">
			<div class="navigation-item done">
				<button class="number"><i class="icon-yipp_done-line"></i></button>
			</div>
			<div class="navigation-item active">
				<button class="number">2</button>
			</div>
			<div class="navigation-item">
				<button class="number">3</button>
			</div>
			<div class="navigation-item">
				<button class="number">4</button>
			</div>
			<div class="navigation-item">
				<button class="number">5</button>
			</div>
			<div class="navigation-item">
				<button class="number">6</button>
			</div>
			<div class="navigation-item">
				<button class="number">7</button>
			</div>
			<div class="navigation-item">
				<button class="number">8</button>
			</div>
			<div class="navigation-item">
				<button class="number">9</button>
			</div>
			<div class="navigation-item">
				<button class="number">10</button>
			</div>
			<div class="navigation-item">
				<button class="number">11</button>
			</div>
			<div class="navigation-item">
				<button class="number">12</button>
			</div>
		</div> <!-- end of .edit-navigation -->
		<div class="add-photo-challenge has-image row middle-xs center-xs direction-column-xs" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );">
			<h1 class="text-xs-center mb-xs-20"><strong>Add Photo</strong></h1>
			<a href="#!" class="add-icon"><i class="icon-yipp_add_line"></i></a>
		</div> <!-- end of .add-photo -->
		<div class="form-group">
			<label><strong>Evaluation</strong></label>
			<textarea class="form-input" placeholder="How did it go?"></textarea>
		</div>
		<div class="reactions row middle-xs center-xs">
			<button class="reaction-item selected"><i class="icon-yipp_emoticon_sad"></i></button>
			<button class="reaction-item"><i class="icon-yipp_emoticon_neutral"></i></button>
			<button class="reaction-item"><i class="icon-yipp_emoticon_happy"></i></button>
		</div>
		<div class="form-group">
			<label><strong>Notes</strong></label>
			<textarea class="form-input" placeholder="What can you do better next time?"></textarea>
		</div>
		<div class="btn-panel row center-xs">
			<a href="#!" class="btn btn-primary">Done</a>
		</div>
	</div>
</ion-content>