<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button class="text-color-primary" ion-button ion-only><i class="icon-yipp_profile_line icon-4x"></i></button>
		</ion-buttons>
		<ion-title>Challenge</ion-title>
		<ion-buttons right>
			<button class="text-color-white" ion-button ion-only><i class="icon-yipp_profile_line icon-4x"></i></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="pt-xs-20">
		<div class="challenges-list">
			<div class="challenge-item row middle-xs between-xs">
				<div>
					<div class="row middle-xs mb-xs-5">
						<span class="text-color-primary"><i class="icon-yipp_notification_line"></i> 20:00</span><span class="separator">|</span><span class="text-color-primary"><i class="icon-yipp_repeat_line"></i> Everyday</span>
					</div>
					<h3>Nieuw bedritueel</h3>
				</div>
				<a href="#!"><i class="icon-yipp_forward"></i></a>
			</div>
			<div class="challenge-item row middle-xs between-xs">
				<div>
					<div class="row middle-xs mb-xs-5">
						<span class="text-color-primary"><i class="icon-yipp_notification_line"></i> 20:00</span><span class="separator">|</span><span class="text-color-primary"><i class="icon-yipp_repeat_line"></i> Everyday</span>
					</div>
					<h3>Nieuw bedritueel</h3>
				</div>
				<a href="#!"><i class="icon-yipp_forward"></i></a>
			</div>
		</div> <!-- end of .challenges-list -->
		<h3 class="pr-xs-20 pl-xs-20"><a href="#!">Show finished challenges</a></h3>
		<div class="endChallenges-list">
			<div class="challenge-item row middle-xs between-xs">
				<h3>Nieuw bedritueel</h3>
				<a href="#!"><i class="icon-yipp_forward"></i></a>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer>
	<div class="row middle-xs around-xs p-xs-10">
		<a href="#!"><i class="icon-yipp_home_line icon-3x"></i><br/>Training</a>
		<a href="#!" class="text-color-primary"><i class="icon-yipp_challenge_line icon-3x"></i><br/>Challenge</a>
	</div>
</ion-footer>