page-challenges {
	.challenges-list,
	.endChallenges-list {
		margin-bottom: 50px;

		.challenge-item {
			background-color: #f0f0f0;
			padding: 10px 20px;
			margin-bottom: 10px;

			.separator {
				color: darken( #f0f0f0, 10% );
				margin-left: 5px;
				margin-right: 3px;
			}

			h3 {
				margin-bottom: 0;
			}
		}
	}
}