page-explanation {
    .explanation-slider {
        .slide-zoom {
            height: 100%;
            padding: 30px;
        }

        ion-slide {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 1.143em;

            .slider-content {
                color: #fff;
                text-align: left;
                height: 100%;

            .slider-skip {
                margin-top: 100px;

                a {
                    color: #fff;
                    text-decoration: underline;
                    font-weight: 300;
                }

                .start-btn {
                    color: #000;
                    background-color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 15px 30px;
                    border-radius: 30px;
                }
            }

                h2 {
                    font-size: 2.375em;
                    font-weight: 700;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                    font-weight: 300;
                }
            }
        }

        .swiper-pagination-bullet-active {
            background: #fff;
        }

        .swiper-pagination-bullet {
            background: #fff;
        }

        .swiper-pagination {
            text-align: right;
        }

        .swiper-pagination-fraction, .swiper-pagination-custom,
        .swiper-container-horizontal > .swiper-pagination-bullets {
            bottom: 30px;
            padding: 0 30px;
        }
    }
}