<ion-content no-bounce>
    <ion-slides class="explanation-slider" pager>
        <ion-slide style="background-image: url('assets/imgs/explanation/slider-1.jpg'); background-position: right -100px center;">
            <div class="slider-content row direction-column-xs end-xs">
                <div>
                    <h2>{{ 'WELCOME_TEXT' | translate }}!</h2>
                    <p>{{ 'EXPLANATION_TEXT_1' | translate }}</p>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')">{{ 'SKIP_TEXT' | translate}}</a>
                </div>
            </div>
        </ion-slide>
  
      <ion-slide style="background-image: url('assets/imgs/explanation/slider-2.jpg');">
        <div class="slider-content row direction-column-xs end-xs">
          <div>
            <h2>{{'TIPS_TEXT' | translate}} &amp; {{'EXPLANATION_TEXT_2' | translate}}!</h2>
            <p>{{'EXPLANATION_TEXT_3' | translate}} &amp; {{'EXPLANATION_TEXT_4' | translate}}.</p>
          </div>
          <div class="slider-skip">
            <a (click)="gotoPage('PreloginPage', 'root')">{{ 'SKIP_TEXT' | translate}}</a>
          </div>
        </div>
      </ion-slide>
  
        <ion-slide style="background-image: url('assets/imgs/explanation/slider-3.jpg');">
            <div class="slider-content row direction-column-xs end-xs">
                <div class="col-xs-12 row between-xs middle-xs">
                    <div>
                        <p>{{'EXPLANATION_TEXT_5' | translate}}</p>
                        <h2 class="with-icon mt-xs-0">{{'EXPLANATION_TEXT_6' | translate}}!</h2>
                    </div>
                    <div class="icon icon-primary">
                        <i class="icon-yipp_apple_line"></i>
                    </div>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')">{{ 'SKIP_TEXT' | translate}}</a>
                </div>
            </div>
        </ion-slide>
  
        <ion-slide style="background-image: url('assets/imgs/explanation/slider-4.jpg');">
            <div class="slider-content row direction-column-xs end-xs">
                <div class="col-xs-12 row between-xs middle-xs">
                    <div>
                        <p>{{'EXPLANATION_TEXT_5' | translate}}</p>
                        <h2 class="with-icon mt-xs-0">{{'EXPLANATION_TEXT_7' | translate}}!</h2>
                    </div>
                    <div class="icon icon-primary">
                        <i class="icon-yipp_water_line"></i>
                    </div>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')">{{ 'SKIP_TEXT' | translate}}</a>
                </div>
            </div>
        </ion-slide>
  
        <ion-slide style="background-image: url('assets/imgs/explanation/slider-5.jpg');">
            <div class="slider-content row direction-column-xs end-xs">
                <div class="col-xs-12 row between-xs middle-xs">
                    <div>
                        <p>{{'EXPLANATION_TEXT_5' | translate}}</p>
                        <h2 class="with-icon mt-xs-0">{{'EXPLANATION_TEXT_8' | translate}}!</h2>
                    </div>
                    <div class="icon icon-primary">
                        <i class="icon-yipp_sleep_full"></i>
                    </div>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')">{{ 'SKIP_TEXT' | translate}}</a>
                </div>
            </div>
        </ion-slide>
  
        <ion-slide style="background-image: url('assets/imgs/explanation/slider-2.jpg');">
            <div class="slider-content row direction-column-xs end-xs">
                <div class="col-xs-12">
                    <div class="row between-xs middle-xs">
                        <h2 class="with-icon">{{'EXPLANATION_TEXT_9' | translate}}!</h2>
                        <div class="icon icon-primary">
                            <i class="icon-yipp_mobile_line-"></i>
                        </div>
                    </div>
                    <p>{{'EXPLANATION_TEXT_10' | translate}}.</p>
                </div>
                <div class="slider-skip">
                    <a (click)="gotoPage('PreloginPage', 'root')" class="start-btn">Let's start</a>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
  </ion-content>
  