<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 100%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-red p-xs-20 row direction-column-xs between-xs">
		<div>
			<h2 class="text-xs-center mb-xs-20"><strong>Challenge Set!</strong></h2>
			<div class="set-icon"><i class="icon-yipp_done-line"></i></div>
			<h3 class="text-xs-center">Wat goed, het is je gelukt! Heel veel success deze week met jouw doel! Meer informatie? ga alvast naar de volgende les, of ga naar alle trainingen om het overzicht te zien.</h3>
		</div>
		<div class="btn-panel mt-xs-50 row middle-xs direction-column-xs">
			<button class="btn btn-secondary mb-xs-10">Next Lesson</button>
			<button class="btn btn-secondary">All Trainings</button>
		</div>
	</div>
</ion-content>