page-challenge-set-done {
	.set-icon {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #fff;
		margin: 0 auto 20px;
		color: $primary;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: 5.000em;
	}
}