// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Lato';
    src: url('Lato-BoldItalic.eot');
    src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BoldItalic.woff2') format('woff2'),
        url('Lato-BoldItalic.woff') format('woff'),
        url('Lato-BoldItalic.ttf') format('truetype'),
        url('Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/font/lato/Lato-Bold.eot');
    src: url('../assets/font/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/lato/Lato-Bold.woff2') format('woff2'),
        url('../assets/font/lato/Lato-Bold.woff') format('woff'),
        url('../assets/font/lato/Lato-Bold.ttf') format('truetype'),
        url('../assets/font/lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/font/lato/Lato-Italic.eot');
    src: url('../assets/font/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/lato/Lato-Italic.woff2') format('woff2'),
        url('../assets/font/lato/Lato-Italic.woff') format('woff'),
        url('../assets/font/lato/Lato-Italic.ttf') format('truetype'),
        url('../assets/font/lato/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/font/lato/Lato-Light.eot');
    src: url('../assets/font/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/lato/Lato-Light.woff2') format('woff2'),
        url('../assets/font/lato/Lato-Light.woff') format('woff'),
        url('../assets/font/lato/Lato-Light.ttf') format('truetype'),
        url('../assets/font/lato/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/font/lato/Lato-LightItalic.eot');
    src: url('../assets/font/lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/lato/Lato-LightItalic.woff2') format('woff2'),
        url('../assets/font/lato/Lato-LightItalic.woff') format('woff'),
        url('../assets/font/lato/Lato-LightItalic.ttf') format('truetype'),
        url('../assets/font/lato/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/font/lato/Lato-Regular.eot');
    src: url('../assets/font/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/lato/Lato-Regular.woff2') format('woff2'),
        url('../assets/font/lato/Lato-Regular.woff') format('woff'),
        url('../assets/font/lato/Lato-Regular.ttf') format('truetype'),
        url('../assets/font/lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size: 14px;
	font-family: $baseFont;
	font-weight: 400;
}

h1, h2, h3 {
	margin-top: 0;
	font-weight: 400;
	line-height: 1.45;

	strong {
		font-weight: 700;
	}
}

h1 {
	font-size: 1.857em;
}

h2 {
	font-size: 1.571em;
}

h3 {
	font-size: 1.286em;
}

a {
	text-decoration: underline;
	color: #404040;
}

.full-height {
	min-height: 100%;
}

.bg-red {
	background-color: $primary;
	color: #fff;
}

.bg-white {
	background-color: #fff;
	color: $baseColor;

	&.with-radius {
		border-radius: 10px;
		box-shadow: 0 0 10px -4px #000;
	}
}

.bg-gray {
	background-color: #f0f0f0;
}

.date-time {
	color: #949494;
}

.title-icon {
	margin: 15px 0;

	i {
		font-size: 1.286em;
		margin-right: 5px;
	}

	h3 {
		margin-bottom: 0;
		border-bottom: 1px solid #404040;
	}
}

.toolbar-white {
	border-bottom: 1px solid #e2e2e2;

	.toolbar {
		&-background {
			background-color: #fff;
		}

		&-title {
			color: $primary;
			text-align: center;
		}

		.bar-buttons {
			color: $primary;
		}

		.back-button {
			color: $baseColor;
			width: 32px;
		}
	}
}

.toolbar-red {
	color: #fff;

	.toolbar {
		&-background {
			background-color: $primary;
		}

		&-title {
			color: #fff;
			text-align: center;
		}

		.back-button {
			color: #fff;
			width: 32px;
		}
	}
}

ol, ul {
	margin-left: 15px;

	&.number-list {
		counter-reset: numbers;
		margin: 0;

		li {
			list-style: none;
			counter-increment: numbers;
			position: relative;
			padding-left: 20px;

			&:before {
				content: counter( numbers, decimal-leading-zero ) '. ';
				margin-right: 5px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

ion-header {
	.toolbar {
		.toolbar-content {
			.title {
				padding: 0 50px 1px;
			}
		}
	}
}

ion-footer {
	border-top: 1px solid #e2e2e2;
	
	a {
		text-align: center;
		text-decoration: none;
	}
}

.signup-navigation {
	border: 1px solid $primary;
	border-radius: 5px;
	margin-bottom: 30px;

	.navigation-item {
		color: $primary;
		padding: 9px 10px;

		&.active {
			background-color: $primary;
			color: #fff;
		}
	}
}

.add-photo {
	width: 95px;
	height: 95px;
	background-color: #d8d8d8;
	border-radius: 50%;
	font-size: 5.000em;
	font-weight: 300;
	color: #fff;
	margin: 0 auto 20px;

	&.has-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.progress-bar {
	background-color: #6d2323;
	border-radius: 5px;
	height: 10px;
  display: block;
  margin: 0 auto;
	width: calc( 100% - 20px );

	.progress {
		background-color: #fff;
		border-radius: 5px;
		height: 10px;
		display: block;
	}
}

.horizontal-scroll {
	overflow: scroll;
	white-space: nowrap;
}

/* --- icon styles --- */
.icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.571em;

	&.icon-primary {
		background-color: $primary;
		color: #fff;
	}

	&.icon-primary-darken {
		background-color: #983131;
		color: #fff;
	}
}

i {
	&.icon-lg {
		font-size: 1.286em;
	}

	&.icon-2x {
		font-size: 1.571em;
	}

	&.icon-3x {
		font-size: 1.857em;
	}

	&.icon-4x {
		font-size: 2.286em;
	}

	&.icon-5x {
		font-size: 2.571em;
	}
}

.icon-ribbon {
	color: #fff;
	background-image: url( '../assets/imgs/icons/icon-ribbon-bg.jpg' );
	background-repeat: no-repeat;
	background-position: center;
	width: 49px;
	height: 49px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.000em;
}

/* --- button styles --- */
.btn {
	border-radius: 20px;
	min-width: 110px;
	font-size: 1.143em;
	font-weight: 400;
}

.btn-primary {
	background-color: #fff;
	border: 1px solid $primary;
	color: $primary;
}

.btn-secondary {
	background-color: $primary;
	border: 1px solid #fff;
	color: #fff;
}

/* --- text color styles --- */
.text-color-primary {
	color: $primary;
}

.text-color-white {
	color: #fff;
}

.text-color-base {
	color: $baseColor;
}

/* --- ion item styles --- */
ion-item {
	&.item {
		font-size: 1em;
		padding-left: 0;
	}

	&.item-borderless {
		.item-inner {
			border-bottom: 0 !important;
		}
	}

	&.transparent {
		background-color: transparent;
	}
}

/* --- alert styles --- */
ion-alert {
	.alert-wrapper {
		border-radius: 10px !important;

		.alert-head {
			padding-bottom: 0 !important;

			.alert-title {
				text-align: center;
				font-weight: 700;
				margin-top: 0;
				margin-bottom: 15px;
			}
		}

		.alert-message {
			text-align: center !important;
			color: $baseColor !important;
			padding-bottom: 0;
		}

		.alert-button-group {
			.alert-button {
				border-top: 0 !important;
				width: 100%;
				margin: 0;
				font-size: 1.286em;

				.button-inner {
					justify-content: center;
				}
			}
		}
	}
}

/* --- form styles --- */
.form-group {
	.form-input {
		&:focus {
			border-color: $primary;
		}
	}
}