page-reminder {
	ion-header {
		button {
			appearance: none;
			background-color: transparent;
		}
	}

	.reminder-content {
		background-color: #fbfbfb;

		.bg-white {
			border-top: 1px solid #f4f4f4;
			border-bottom: 1px solid #f4f4f4;
			padding: 15px 20px;
		}

		.reminder-toggle {
			border-bottom: 1px solid #f4f4f4;
			border-top: 1px solid #f4f4f4;
			padding: 0 20px;
			background-color: #fff;
		}

		.reminders-list {
			.reminder-item {
				padding: 0 20px;
				background-color: #fff;
				border-bottom: 1px solid #f4f4f4;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;

				input[type=text] {
					text-align: right;
				}

				ion-select {
					max-width: 100%;

					.select-icon {
						display: none;
					}
				}
			}
		}
	}
}