<ion-header class="toolbar-white pr-xs-10 pl-xs-10" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button>Cancel</button>
		</ion-buttons>
		<ion-title>Edit</ion-title>
		<ion-buttons end>
			<button>Save</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height reminder-content row direction-column-xs between-xs pt-xs-20 pb-xs-20">
		<div class="bg-white mb-xs-20">
			<h3 class="mb-xs-0">Eating more vegetables</h3>
			<ol>
				<li>Brocolli</li>
			</ol>
		</div>
		<div>
			<div class="reminder-toggle">
				<ion-item class="item-borderless">
					<ion-label>Reminder</ion-label>
					<ion-toggle></ion-toggle>
				</ion-item>
			</div> <!-- end of .reminder-toggle -->
			<div class="reminders-list">
				<div class="reminder-item">
					<div class="label">Repeat</div>
					<div class="value">
						<ion-item class="item-borderless">
							<ion-select placeholder="Select Repeat">
							    <ion-option value="every_hour">Every Hour</ion-option>
							    <ion-option value="every_two_hours">Every Two Hours</ion-option>
							    <ion-option value="twice_a_day">Twice a day</ion-option>
							    <ion-option value="every_day">Every Day</ion-option>
								<ion-option value="every_week">Every Week</ion-option>
								<ion-option value="every_month">Every Month</ion-option>
							  </ion-select>
						</ion-item>
					</div>
				</div> <!-- end of .reminder-item -->
				<div class="reminder-item">
					<div class="label">Time</div>
					<div class="value">
						<ion-item class="item-borderless">
							<ion-datetime displayFormat="H:mm" placeholder="H:mm"></ion-datetime>
						</ion-item>
					</div>
				</div> <!-- end of .reminder-item -->
			</div>
		</div>
		<div class="bg-white text-xs-center mt-xs-20">
			<a href="#!" class="text-color-primary" style="text-decoration: none;">Delete to do</a>
		</div>
	</div>
</ion-content>