<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 20%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-red p-xs-20">
		<h2 class="text-xs-center text-color-white mb-xs-30">Te weinig slapen vergroot de kans op overgewicht bij kinderen, omdat:</h2>
		<div class="questions-list">
			<div class="question-item bg-white with-radius">Kinderen zijn langer wakker en hebben dus meer tijd om te eten.</div>
			<div class="question-item bg-white with-radius">Kinderen zijn langer wakker en hebben dus meer tijd om te eten.</div>
			<div class="question-item bg-white with-radius">Kinderen zijn langer wakker en hebben dus meer tijd om te eten.</div>
		</div>
	</div>
</ion-content>