<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 20%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-red p-xs-20 row direction-column-xs">
		<div class="cards-list col-xs-auto">
			<div class="card-item bg-white with-radius row direction-column-xs between-xs">
				<div>
					<h2 class="text-xs-center mb-xs-0"><strong>Education</strong></h2>
					<div class="card-icon text-xs-center">
						<i class="icon-yipp_home_line"></i>
					</div>
					<div class="card-content">
						<p class="text-xs-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, deserunt. Quod, sed. Fugiat quidem quod ea eius ad fuga necessitatibus rerum obcaecati facilis earum iste deleniti nihil quia ipsa, aliquam.</p>
					</div>
				</div>
				<div class="card-favorite row end-xs">
					<button><i class="icon-yipp_heart_line icon-2x"></i></button>
					<button><i class="icon-yipp_heart_full icon-2x"></i></button>
				</div>
			</div>
		</div>
	</div>
</ion-content>