page-favorite {
	.cards-list {
		position: relative;

		.card-item {
			padding: 30px 20px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 320px;
			min-height: 100%;
			margin: 0 auto;

			.card-icon {
				font-size: 4.000em;
				margin: 20px 0;
			}

			.card-favorite {
				margin-top: 15px;

				button {
					appearance: none;
					background-color: transparent;
				}
			}
		}
	}
}