<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<div class="progress-bar">
			<div class="progress" style="width: 75%;"></div>
		</div>
		<ion-buttons end>
			<i class="icon-yipp_home_line icon-2x"></i>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height bg-red p-xs-20 row direction-column-xs between-xs">
		<div>
			<h2 class="text-xs-center text-color-white mb-xs-30"><strong>Set up challenge</strong></h2>
			<h3 class="mb-xs-20">What vegetable do you want [child] to eat more?</h3>
			<div class="challenges-list">
				<div class="challenge-item">
					<div class="input-container">
						<ion-item>
							<ion-input placeholder="(Set up your to do)"></ion-input>
						</ion-item>
					</div>
				</div>
				<div class="challenge-item">
					<div class="input-container">
						<ion-item>
							<ion-input placeholder="(Set up your to do)"></ion-input>
						</ion-item>
					</div>
					<div class="delete-item"><i class="icon-yipp_delete_line icon-2x"></i></div>
				</div>
			</div>
			<div class="add-challenge row middle-xs">
				<i class="icon-yipp_add_line icon-2x mr-xs-5"></i> <span>Add</span>
			</div>
		</div>
		<div class="btn-panel row center-xs mt-xs-50">
			<button class="btn btn-secondary">Next</button>
		</div>
	</div>
</ion-content>