page-setup-challenge {
	.challenges-list {
		counter-reset: numbers;
		margin-bottom: 20px;

		.challenge-item {
			counter-increment: numbers;
			position: relative;
			margin-bottom: 15px;
			color: #fff;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			&:before {
				content: counter( numbers, decimal-leading-zero ) '. ';
				position: absolute;
				top: 10px;
				left: 0;
				font-size: 1.429em;
			}

			.input-container {
				padding-left: 40px;
				padding-right: 10px;
				width: calc( 100% - 35px );

				.item {
					background: transparent;
				}
			}
		}
	}

	.add-challenge {
		span {
			font-size: 1.429em;
		}
	}

	*::-webkit-input-placeholder {
	  color: #eda3a3 !important;
	}
	*:-moz-placeholder {
	  color: #eda3a3 !important;
	}
	*:-ms-input-placeholder { /* IE10+ */
	  color: #eda3a3 !important;
	}
}