page-cheat-sheet {
	.resume-header {
		.icon {
			i {
				font-size: 14px;
			}
		}
	}

	.cards-slider {
		ion-slide {
			font-size: 1em;

			h3 {
				font-size: 1.286em;
			}

			p {
				font-size: 1em;
			}
		}
	}

	.answered-container {
		ol {
			margin: 0;

			li {
				padding: 15px 15px 15px 40px;

				&:before {
					top: 15px;
					left: 15px;
				}

				&:not( :last-child ) {
					border-bottom: 1px solid #e2e2e2;
				}
			}
		}
	}

	.interestingLinks-container {
		.water-balance {
			background-color: #528ab9;
			color: #fff;
			padding: 30px 20px;

			a {
				color: #fff;
			}
		}
	}
}