<ion-header class="toolbar-red" no-border>
	<div class="resume-header bg-red row middle-xs pt-xs-10 pr-xs-20 pl-xs-20">
		<div class="mr-xs-10"><i class="icon-yipp_close"></i></div>
		<div>Resume</div>
	</div>
	<ion-navbar>
		<ion-title>Fruit and Vegetables</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="goal-container">
		<div class="pl-xs-20">
			<div class="title-icon row middle-xs">
				<i class="icon-yipp_goal_line"></i>
				<h3 class="col-xs-auto">Goal</h3>
			</div> <!-- end of .title-icon -->
			<div class="pr-xs-20 pl-xs-20">
				<div class="bg-white with-radius p-xs-10 mb-xs-20">
					<div class="row middle-xs between-xs">
						<div class="col-xs-auto">
							<div class="text-color-primary row middle-xs mb-xs-5">
								<i class="icon-yipp_notification_line mr-xs-5"></i>
								<span>20:00</span>
							</div>
							<ol>
								<li>Tandenpoetsen</li>
								<li>In bed</li>
								<li>Boekje lezen</li>
								<li>Slapen</li>
							</ol>
						</div>
						<div>
							<a href="#!"><i class="icon-yipp_edit icon-2x"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-gray pt-xs-10 pl-xs-40 pr-xs-40 mb-xs-20">
			<div class="row middle-xs between-xs">
				<p class="col-xs-auto">What you think is the chance that you keep this goal?</p>
				<h3><strong>8</strong></h3>
			</div>
		</div>
	</div> <!-- end of .goal-container -->
	<div class="favoriteCards-container">
		<div class="pl-xs-20">
			<div class="title-icon row middle-xs">
				<i class="icon-yipp_heart_line"></i>
				<h3 class="col-xs-auto">Favorite Cards</h3>
			</div> <!-- end of .title-icon -->
		</div>
		<ion-slides class="cards-slider" loop>
			<ion-slide>
				<div class="pt-xs-10 pb-xs-10 pl-xs-20 pr-xs-20">
					<div class="bg-white with-radius text-xs-center p-xs-20 pb-xs-10">
						<h3>Water drinken!</h3>
						<div class="row center-xs mb-xs-10"><i class="icon-yipp_water_line icon-3x"></i></div>
						<p>Geef kraanwater! Goed voor Lisa en jouw portemonee!</p>
						<p>Water is ook nog eens de beste dorstlesser</p>
						<div class="add-to-favorite row end-xs">
							<i class="icon-yipp_heart_line"></i>
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="pt-xs-10 pb-xs-10 pl-xs-20 pr-xs-20">
					<div class="bg-white with-radius text-xs-center p-xs-20 pb-xs-10">
						<h3>Water drinken!</h3>
						<div class="row center-xs mb-xs-10"><i class="icon-yipp_water_line icon-3x"></i></div>
						<p>Geef kraanwater! Goed voor Lisa en jouw portemonee!</p>
						<p>Water is ook nog eens de beste dorstlesser</p>
						<div class="add-to-favorite row end-xs">
							<i class="icon-yipp_heart_line"></i>
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div> <!-- end of .favoriteCards-container -->
	<div class="answered-container">
		<div class="pl-xs-20">
			<div class="title-icon row middle-xs">
				<i class="icon-yipp_summary_line"></i>
				<h3 class="col-xs-auto">Answered</h3>
			</div> <!-- end of .title-icon -->
		</div>
		<div class="pr-xs-20 pl-xs-20">
			<div class="bg-white with-radius mb-xs-50">
				<ol class="number-list">
					<li>A summary of the right answer of the question</li>
					<li>A summary of the right answer of the question</li>
					<li>A summary of the right answer of the question</li>
				</ol>
			</div>
		</div>
	</div> <!-- end of .answered-container -->
	<h3 class="text-xs-center mb-xs-30"><a href="#!" class="text-color-primary">Restart Lesson</a></h3>
	<div class="interestingLinks-container">
		<div class="pl-xs-20">
			<div class="title-icon row middle-xs">
				<i class="icon-yipp_summary_line"></i>
				<h3 class="col-xs-auto">Interesting Links</h3>
			</div> <!-- end of .title-icon -->
		</div>
		<div class="water-balance">
			<h2>Mijn waterbalans</h2>
			<p><strong>"Mijn Waterbalans" helpt je om regelmatig water te drinken. Bereken je dagelijkse water inname en ontvang notificaties!</strong></p>
			<h3><a href="#!">Bekijk app in app store</a></h3>
		</div>
	</div> <!-- end of .interestingLinks-container -->
</ion-content>