<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>{{'RESET_PASSWORD_TEXT' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="row direction-column-xs between-xs full-height p-xs-20">
		<div></div>
		<form>
			<ion-item>
				<ion-label floating>{{'NEW_PASSWORD_TEXT' | translate}}</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{'REPEAT_PASSWORD_TEST'| translate}}</ion-label>
				<ion-input></ion-input>
			</ion-item>
		</form>
		<div class="btn-panel mt-xs-50 row center-xs">
			<button class="btn btn-primary">{{'CONFIRM_TEXT' | translate}}</button>
		</div>
	</div>
</ion-content>