<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button class="text-color-primary" ion-button ion-only><i class="icon-yipp_profile_line icon-4x"></i></button>
		</ion-buttons>
		<ion-title>Challenge</ion-title>
		<ion-buttons right>
			<button class="text-color-white" ion-button ion-only><i class="icon-yipp_profile_line icon-4x"></i></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="pt-xs-30 pb-xs-30 pr-xs-20 pl-xs-20">
		<h1 class="text-xs-center">Start a training to make a new challenge</h1>
	</div>
	<div class="row center-xs">
		<button class="btn btn-primary">Explorer Training</button>
	</div>
</ion-content>
<ion-footer>
	<div class="row middle-xs around-xs p-xs-10">
		<a href="#!"><i class="icon-yipp_home_line icon-3x"></i><br/>Training</a>
		<a href="#!" class="text-color-primary"><i class="icon-yipp_challenge_line icon-3x"></i><br/>Challenge</a>
	</div>
</ion-footer>