page-challenge-result {
	.collages-list {
		.collage-item {
			margin-bottom: 20px;
			
			.photo {
				height: 155px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.day-reaction {
				position: relative;
				z-index: 2;
				margin-top: -43px;

				.day {
					background-color: $primary;
					color: #fff;
					font-size: 1.286em;
					padding: 10px 20px;
				}

				.reaction {
					font-size: 4.000em;
					color: $primary;

					i {
						border-radius: 50%;
						background-color: #fff;

						&:before {
							margin: 0;
						}
					}
				}
			}

			.comments {
				font-size: 1.429em;
				font-weight: 700;
			}
		}
	}
}