<ion-header class="toolbar-red" no-border>
	<div class="resume-header bg-red row middle-xs pt-xs-10 pr-xs-20 pl-xs-20">
		<div class="mr-xs-10"><i class="icon-yipp_close"></i></div>
		<div>Photocollage</div>
	</div>
	<ion-navbar>
		<ion-title>Fruit and Vegetables</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="collages-list">
		<div class="collage-item">
			<div class="photo" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
			<div class="day-reaction row middle-xs between-xs pr-xs-20 pl-xs-20">
				<div class="day">Day 1</div>
				<div class="reaction"><i class="icon-yipp_emoticon_sad"></i></div>
			</div>
			<div class="comments pr-xs-20 pl-xs-20">"It went great this day"</div>
		</div>
		<div class="collage-item">
			<div class="photo" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
			<div class="day-reaction row middle-xs between-xs pr-xs-20 pl-xs-20">
				<div class="day">Day 2</div>
				<div class="reaction"><i class="icon-yipp_emoticon_sad"></i></div>
			</div>
			<div class="comments pr-xs-20 pl-xs-20">"It went great this day"</div>
		</div>
		<div class="collage-item">
			<div class="photo" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
			<div class="day-reaction row middle-xs between-xs pr-xs-20 pl-xs-20">
				<div class="day">Day 3</div>
				<div class="reaction"><i class="icon-yipp_emoticon_sad"></i></div>
			</div>
			<div class="comments pr-xs-20 pl-xs-20">"It went great this day"</div>
		</div>
	</div>
</ion-content>
<ion-footer>
	<div class="row middle-xs center-xs p-xs-10">
		<h3 class="text-color-primary mb-xs-0"><a href="#!">Restart Challenge</a></h3>
	</div>
</ion-footer>