<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button ion-only (click)="gotoPage('ProfilePage')" class="text-color-white">
				<i class="icon-yipp_home_line icon-2x"></i>
			</button>
		</ion-buttons>
		<ion-title></ion-title>
		<ion-buttons right>
			<button ion-button ion-only (click)="gotoPage('SettingsPage')" class="text-color-white">
				<i class="icon-gear_line icon-3x"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
	<div class="bg-red header-details pr-xs-15 pl-xs-15">
		<div class="row between-xs middle-xs">
			<div class="user-details col-xs-auto">
				<h3 class="mb-xs-0"><strong>Petra Jansen</strong></h3>
				<p class="mb-xs-5">Moeder van Lisa</p>
				<div class="row">
					<div class="months text-xs-center">
						<h2 class="value"><strong>8</strong></h2>
						<div class="label">Maanden</div>
					</div> <!-- end of .months -->
					<div class="level row between-xs middle-xs text-xs-center">
						<div class="mr-xs-10">
							<h2 class="value"><strong>1</strong></h2>
							<div class="label">Level</div>
						</div>
					</div>
				</div>
			</div> <!-- end of .user-details -->
			<div class="profile-picture" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
		</div>
	</div>
</ion-header>
<ion-content no-bounce>
	<div class="p-xs-20 upper-challenges-content">
		<div class="row">
			<div class="col-xs-auto bg-gray row middle-xs between-xs mr-xs-5">
				<h1 class="mb-xs-0"><strong>60</strong></h1>
				<div>
					<small>Je gebruikt<br/>de app nu</small>
					<p class="mb-xs-0"><strong>dagen</strong></p>
				</div>
			</div>
			<div class="col-xs-auto bg-gray row middle-xs between-xs ml-xs-5">
				<h1 class="mb-xs-0"><strong>1</strong></h1>
				<div>
					<p class="mb-xs-0"><strong>Doel(en)</strong></p>
					<small>behaald</small>
				</div>
			</div>
		</div>
	</div> <!-- end of .upper-challenges-content -->
	<div class="challenges-list">
		<div class="text-xs-center">
			<h3 class="title-section"><strong>Challenges</strong></h3>
		</div>
		<ion-scroll scrollX="true" class="horizontal-scroll" style="height: 24px;">
			<div class="challenges-navigation">
				<div class="navigation-item active">1</div>
				<div class="navigation-item next">2</div>
				<div class="navigation-item">3</div>
				<div class="navigation-item">4</div>
				<div class="navigation-item">5</div>
				<div class="navigation-item">6</div>
				<div class="navigation-item">7</div>
				<div class="navigation-item">8</div>
			</div>
		</ion-scroll>
		<div class="row mt-xs-30">
			<div class="challenge-item col-xs-6 text-xs-center mb-xs-20">
				<div class="icon-ribbon mb-xs-5-important"><i class="icon-gear_line"></i></div>
				<p class="mb-xs-0"><strong>Challenge 5</strong></p>
				<p>Drinking from a cup</p>
			</div> <!-- end of .challenge-item -->
			<div class="challenge-item col-xs-6 text-xs-center mb-xs-20">
				<div class="icon-ribbon mb-xs-5-important"><i class="icon-gear_line"></i></div>
				<p class="mb-xs-0"><strong>Challenge 5</strong></p>
				<p>Drinking from a cup</p>
			</div> <!-- end of .challenge-item -->
			<div class="challenge-item col-xs-6 text-xs-center mb-xs-20">
				<div class="icon-ribbon mb-xs-5-important"><i class="icon-gear_line"></i></div>
				<p class="mb-xs-0"><strong>Challenge 5</strong></p>
				<p>Drinking from a cup</p>
			</div> <!-- end of .challenge-item -->
			<div class="challenge-item col-xs-6 text-xs-center mb-xs-20">
				<div class="icon-ribbon mb-xs-5-important"><i class="icon-gear_line"></i></div>
				<p class="mb-xs-0"><strong>Challenge 5</strong></p>
				<p>Drinking from a cup</p>
			</div> <!-- end of .challenge-item -->
		</div>
	</div> <!-- end of .challenges-list -->
	<div class="titles-list">
		<div class="text-xs-center">
			<h3 class="title-section"><strong>Titel</strong></h3>
		</div>
		<div class="title-item row middle-xs center-xs p-xs-20 pb-xs-30">
			<div class="icon mr-xs-30">
				<img src="assets/imgs/icons/angel.png" />
			</div>
			<div class="details">
				<p class="mb-xs-0">Level 1</p>
				<h2>Beginnende mama</h2>
			</div>
		</div>
	</div>
	<div class="users-count">
		<div class="text-xs-center">
			<h3 class="title-section"><strong>Gebruikers</strong></h3>
		</div>
		<div class="user-item row middle-xs center-xs">
			<div class="count col-xs-auto text-xs-center">2546</div>
			<div class="label col-xs-auto text-xs-center">
				<small>Deze app heeft al</small>
				<p class="mb-xs-0"><strong>gebruikers</strong></p>
			</div>
		</div>
	</div>
</ion-content>