page-profile {
	.header-details {
		padding-bottom: 10px;
		
		.user-details {
			.value {
				margin-bottom: 0;
			}

			.months {
				border-right: 1px solid #fff;
				padding-right: 20px;
				margin-right: 20px;
			}
		}

		.profile-picture {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	.bg-gray {
		background-color: #efefef;
	}

	.upper-challenges-content {
		.bg-gray {
			padding: 15px 20px;
			border-radius: 10px;

			h1 {
				font-size: 2.500em;
			}

			small {
				display: block;
				font-size: 0.714em;
			}
		}
	}

	.title-section {
		position: relative;
		display: inline-block;

		&:before, &:after {
			content: '';
			display: block;
			width: 100vw;
			height: 1px;
			background-color: #000;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
		}

		&:before {
			right: 100%;
			margin-right: 15px;
		}

		&:after {
			left: 100%;
			margin-left: 15px;
		}
	}

	.challenges-list {
		.challenges-navigation {

			.navigation-item {
				background-color: #efefef;
				padding: 1px 5px;
				width: 50px;
				color: #000;
				border-radius: 5px;
				text-align: center;
				font-weight: 700;
				display: inline-block;
				white-space: nowrap;
				margin-right: 10px;
				margin-left: 10px;
				border: 1px solid transparent;

				&.active {
					background-color: $primary;
					color: #fff;
				}

				&.next {
					background-color: transparent;
					border: 1px solid $primary;
					color: $primary;
				}
			}
		}
	}

	.users-count {
		padding: 10px 20px 20px;

		.user-item {
			background-color: #efefef;
			border-radius: 10px;
			padding: 10px 20px;

			.count {
				font-size: 2.500em;
				font-weight: 700;
			}
		}
	}
}