<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button ion-only (click)="gotoPage('ProfilePage')" class="text-color-white">
				<i class="icon-yipp_close icon-2x"></i>
			</button>
		</ion-buttons>
		<ion-title>Instelligen</ion-title>
		<ion-buttons right>
			<button ion-button ion-only class="text-color-primary">
				<i class="icon-yipp_close icon-2x"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="photo-section">
		<div class="section-title">
			<h3>Foto</h3>
		</div>
		<div class="details">
			<div class="details-row row middle-xs">
				<div class="profile-picture mr-xs-20" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
				<button class="btn" style="background-color: transparent;">Kies/bewerk foto</button>
			</div>
		</div>
	</div> <!-- end of .photo-section -->
	<div class="you-section">
		<div class="section-title">
			<h3>Jij</h3>
		</div>
		<div class="details">
			<div class="details-row row middle-xs between-xs">
				<div class="label">Naam</div>
				<div class="value">Cyrus Yipp &amp; Otago</div>
			</div> <!-- end of .details-row -->
			<div class="details-row row middle-xs between-xs">
				<div class="label">Email</div>
				<div class="value">dev.cyrusjayson@gmail.com</div>
			</div> <!-- end of .details-row -->
			<div class="details-row row middle-xs between-xs">
				<div class="label">Wacthwoord</div>
				<div class="value">********</div>
			</div> <!-- end of .details-row -->
		</div>
	</div> <!-- end of .you-section -->
	<div class="yourChild-section">
		<div class="section-title">
			<h3>Jouw kind</h3>
		</div>
		<div class="details">
			<div class="details-row row middle-xs between-xs">
				<div class="label">Naam</div>
				<div class="value">Jamie</div>
			</div> <!-- end of .details-row -->
			<div class="details-row row middle-xs between-xs">
				<div class="label">Geboortedatum</div>
				<div class="value">08-08-2017</div>
			</div>
		</div>
	</div> <!-- end of .yourChild-section -->
	<div class="message-section">
		<div class="section-title">
			<h3>Melding</h3>
		</div>
		<div class="details">
			<div class="details-row row middle-xs between-xs pt-xs-5-important pb-xs-5-important">
				<div class="label">Melding</div>
				<div class="value">
					<ion-item class="item-borderless">
					    <ion-toggle color="secondary"></ion-toggle>
					  </ion-item>
				</div>
			</div>
			<div class="details-row row middle-xs between-xs pt-xs-5-important pb-xs-5-important">
				<div class="label">Email</div>
				<div class="value">
					<ion-item class="item-borderless">
					    <ion-toggle color="secondary"></ion-toggle>
					  </ion-item>
				</div>
			</div>
		</div>
	</div> <!-- end of .message-section -->
	<div class="aboutUs-section">
		<div class="section-title">
			<h3>Over ons</h3>
		</div>
		<div class="details">
			<div class="details-row">
				<div class="label">Colofon</div>
			</div>
			<div class="details-row">
				<div class="label">Uitleg app</div>
			</div>
			<div class="details-row">
				<div class="label">Algemene voorwaarden</div>
			</div>
		</div>
	</div> <!-- end of .aboutUs-section -->
</ion-content>
<ion-footer>
	<div class="row middle-xs around-xs p-xs-5 pt-xs-10">
		<h3><a href="#!" class="text-color-primary">Log uit</a></h3>
	</div>
</ion-footer>