page-profile-setting {
	.section-title {
		background-color: #fbfbfb;
		border-bottom: 1px solid #d1d0d4;
		padding: 20px 10px 5px;

		h3 {
			margin: 0;
			display: inline-block;
			text-decoration: underline;
			font-size: 1.143em;
		}
	}

	.details {
		.details-row {
			padding: 15px 10px;
			border-bottom: 1px solid #d1d0d4;

			.label {
				font-weight: 700;
			}

			.value {
				color: #929296;
			}

			.profile-picture {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}
}
