<ion-header class="toolbar-red" no-border>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button ion-only (click)="gotoPage('ProfilePage')" class="text-color-white">
				<i class="icon-yipp_close icon-2x"></i>
			</button>
		</ion-buttons>
		<ion-title>Colophon</ion-title>
		<ion-buttons right>
			<button ion-button ion-only class="text-color-primary">
				<i class="icon-yipp_close icon-2x"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="p-xs-30 row direction-column-xs between-xs full-height">
		<div>
			<h1 class="mb-xs-30"><strong>Who are we?</strong></h1>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam odit saepe, nihil cumque repudiandae mollitia vitae dolore neque sed atque numquam minima quia id corporis adipisci rem. Molestias, sequi, obcaecati!</h3>
		</div>
		<div class="photos-list row center-xs middle-xs">
			<div class="photo-item" style="background-image: url( 'assets/imgs/tour/slider-1.jpg' );"></div>
			<div class="photo-item"></div>
			<div class="photo-item"></div>
		</div>
	</div>
</ion-content>