page-settings {
	.photos-list {
		.photo-item {
			background-color: #d8d8d8;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid #a6a6a6;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			margin: 0 5px;
		}
	}
}