page-challenge-done {
	.youCanDoIt {
		.icon-done {
			font-size: 6.000em;
			color: #fff;
		}
	}

	.mobile-half {
		border-bottom: 2px solid #a93636;
		text-align: center;

		img {
			margin-bottom: -1px;
		}
	}
}