<ion-content no-bounce>
	<div class="bg-red full-height p-xs-30 row direction-column-xs between-xs">
		<div class="youCanDoIt">
			<div class="icon-done text-xs-center mb-xs-20"><i class="icon-yipp_done-full"></i></div>
			<h1 class="text-xs-center"><strong>You can do it!</strong></h1>
			<h3 class="text-xs-center mb-xs-0">We made a beautiful fotocollage of this week. Check it out!</h3>
		</div>
		<div class="mobile-half">
			<img src="assets/imgs/icons/mobile-half.png" />
		</div>
		<div class="btn-panel row direction-column-xs middle-xs">
			<div class="row center-xs mb-xs-15">
				<a href="#!" class="btn btn-secondary">See Result</a>
			</div>
			<a href="#!" class="text-color-white">Restart Challenge</a>
		</div>
	</div>
</ion-content>