<ion-header class="toolbar-white" no-border>
	<ion-navbar>
		<ion-title>{{'SIGN_UP_PARENT_TEXT' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
	<div class="full-height p-xs-20 row direction-column-xs between-xs">
		<div>
			<div class="signup-navigation row middle-xs">
				<div [ngClass]= "{'active': parent_type === 'father'}" class="col-xs-6 text-xs-center navigation-item"  (click)="tabSelect('father')">{{'FATHER_TEXT' | translate}}</div>
				<div [ngClass]= "{'active': parent_type === 'mother'}" class="col-xs-6 text-xs-center navigation-item" (click)="tabSelect('mother')">{{'MOTHER_TEXT' | translate}}</div>
			</div> <!-- end of .signup-navigation -->
		</div>
		<form [formGroup]="registerParentForm">
			<ion-item class="mb-xs-10-important">
				<ion-label stacked>{{'NAME_TEXT' | translate}}</ion-label>
				<ion-input placeholder="{{'REGISTRATION_PARENT_TEXT_1' | translate}}" type="text" [(ngModel)]="name" formControlName="name"></ion-input>
			</ion-item>			
			<div class="error" *ngIf="registerParentForm.get('name').hasError('required') && registerParentForm.get('name').touched" >
				{{'NAME_VALIDATION_TEXT' | translate}}.
			</div>
					
			<ion-item class="mb-xs-10-important">
				<ion-label stacked>{{'EMAIL_TEXT' | translate}}</ion-label>
				<ion-input placeholder="hello@live.nl" type="email" [(ngModel)]="email" formControlName="email"></ion-input>
			</ion-item>			
			<div class="error" *ngIf="registerParentForm.get('email').hasError('required') && registerParentForm.get('email').touched" >
				{{'EMAIL_VALIDATION_TEXT' | translate}}.
			</div>
			<div class="error" *ngIf="!registerParentForm.controls.email.valid  && (registerParentForm.controls.email.dirty)">
				{{'EMAIL_VALIDATION_TEXT_2' | translate}}.
			</div>
					
			
			<ion-item>
				<ion-label stacked>{{'PASSWORD_TEXT' | translate}}</ion-label>
				<ion-input type="password" [(ngModel)]="password" placeholder="********" formControlName="password"></ion-input>
			</ion-item>
			<div class="error" *ngIf="registerParentForm.get('password').hasError('required') && registerParentForm.get('password').touched" >
				{{'PASSWORD_VALIDATION_TEXT' | translate}}.
			</div>
			<div class="error" *ngIf="registerParentForm.get('password').hasError('minlength') && registerParentForm.get('password').touched" >
				{{'PASSWORD_VALIDATION_TEXT_2' | translate}}.
			</div>
			
		</form>
		<div class="btn-panel row center-xs mt-xs-50">
			<button class="btn btn-primary" (click)="register('RegistrationChildPage')" type="submit" [disabled]="!registerParentForm.valid">{{'NEXT_TEXT' | translate}}</button>
		</div>
	</div>
</ion-content>